:root {
  --light-purple: #6c33a3;
  --dark-purple: #8241b8;
  --white-smoke: #ffffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--light-purple);
  background-image: linear-gradient(
    316deg,
    var(--light-purple) 0%,
    var(--dark-purple) 74%
  );
  background-repeat: no-repeat;
  height: 100vh;
  width: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}

li{
    list-style: none;
}

.container{
    background-color: var(--white-smoke);
    border-radius: 8px;
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column wrap;
}

form fieldset{
    background-color: red;
    height: 300px;
    width: 480px;
    border: none;
    border-radius: 4px;
    padding: 10px;
}
